* {
    color: #494f66;
}
.card {
    margin: 0 10% 0 10%;
    box-shadow: 0 3px 4px 0 rgba(50,50,50,.36);
    border-radius: 6px;
}

.taller-text {
margin-left: 10%;
margin-top: -7%;
}

.casos-icon, .h3 {
    margin-left: 75%;
}

.casos-icon {
    margin-top: -18%;
}

.newcase-icon {
    margin-top: -8%;
    margin-left: 70%;
}

.new-case {
    margin-top: -7.5%;
    margin-left: 77%;
}

.save-case {
    position: absolute;
    top: 40%;
    left: 35%;

}

.h3 {
    margin-top: -6%;
}

.border-left {
    border-left: #bacddd;
}
.m-t {
    margin-top: 2%;
}

.m-t-30 {
    margin-top: 30%;
}

.subtitle{
    border-bottom: 1px solid #8a8e8e;
    display: block;
    padding-bottom: 4px;
    font-weight: 700;
    font-size: 1.17em;
    text-align: left;
    margin: 10px;
    margin-top: 60px;
    line-height: 1.1;
}

.ajustes-icon {
    width: 30px;
    margin-left: 50%;
    margin-top: 5%;
}

.ajustes-text {
    margin-left: 32%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.btn-green {
    background-color: #80bb00;
    width: 30%;
    color: white;
}

.btn-c-green {
    background-color: #80bb00;
    width: 30%;
    color: white;
}

.btn-whitesmoke {
    background-color: #f6f8f8;
    width: 50%;
    height: 50%;
    box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.4);
}

.box-left {
    margin-top: 1%;
    margin-left: 2%;
}

.box-right {
    margin-left: 30%;
}

.box-right {
    margin-top: -11%
}

.box-r {
    margin-top: -12%;
}

.datos-vehiculo {
    height: 800px;
}

.next {
    margin-left: 45%;
}

.download {
    width: 40%;
    height: 40%;
}

.m-left {
margin-left: -36%;
}

.w-40 {
    width: 40%;
}

.upload-ico {
    width: 30%;
}

p {
    margin-left: 65%;    
}

.info {
    margin-top: 1%;
    margin-bottom: 1%;
}

/* Tabla de stepper 2*/

table {
    margin-left: 2%;
}

.deducible h3{
    text-align: left;
    border-bottom: 1px solid #8a8e8e;
    display: block;
    padding: 10px 10px 4px 10px;
    margin: 10px 10px 4px 10px;
    font-weight: 700;
    font-size: 1.17em;
}
form{
    margin-top: 18px;
    box-sizing: border-box;
    display: block;

    padding-top: 10px;
    width: 88%;
    margin: 0 auto;
}

.bs-stepper-circle {
    display: inline-flex;
    align-content: center;
    justify-content: center;
    width: 27.4em;
    height: 2em;
    padding: .5em 0;
    margin: .25rem;
    line-height: 1em;
    color: #fff;
    background-color: #6c757d;
    border-radius: 0;
  }
  
  .active .bs-stepper-circle {
    background-color: #ff0800;
  }

  .center{
    text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
  }

  .form-control-width{
      width: 99px;
  }
  

  .btn-green{
    width: 286px;
    height: 42px;
    margin: 0 1%;
    color: white;   
    font-weight: 600;
    background: #81BB00;
    border-radius: 6px;
  }

  
  .btn-gray{
    width: 286px;
    height: 42px;
    padding: 0;
    margin: 0 1%;
    color: white;   
    font-weight: 600;
    background: #8A8E8E;
    border-radius: 6px;
  }

  .block{
    margin: 0;
    padding: 10px;
    display: inline-block;

}


.ajustes-icon1 {
   
    margin-left: 80%;
    margin-top: -22%;
}


.ajustes-text1 {
    margin-left: 77%;
    margin-top: -7%;
}