* {
    color: #494f66;
}
.card {
    margin: 2% 10% 0 10%;
    box-shadow: 0 3px 4px 0 rgba(50,50,50,.36);
    border-radius: 6px;
}

.casos-icon, .caso-text {
    margin-left: 75%;
}

.casos-icon {
    margin-top: -18%;
}

.caso-text {
    margin-top: -6%;
}

.ajustes-icon {
    width: 6%;
    margin-left: 85%;
    margin-top: -12%;
}

.ajustes-text {
    margin-left: 82%;
    margin-top: -2%;
}

.box-left {
    margin-top: 1%;
    margin-left: 2%;
}
.box-right {
    margin-left: 30%;
    margin-top: -9%
}